.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: serif;
    font-style:italic;
    color:white;
    background-color: darkolivegreen;

}
